body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0a1931; /* Dark blue background */
  color: #000; /* Black text */
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.user-input {
  width: 90%;
  max-width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #444;
  color: #fff;
}

.chat-container {
  width: 90%;
  max-width: 800px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  background-color: #444;
  border-color: #8ca4bd;
  border-width: 10px;
}

.message-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
}

.message-container li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.message-container li p {
  margin: 0;
}

.message-container li span {
  font-size: 0.8em;
  color: #dde974;
}

.message-right {
  text-align: right;
}

.message-form {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #444;
}

.message-form input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  background-color: #fff;
  color: #333;
}

.message-form button {
  padding: 8px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-form button:hover {
  background-color: #0056b3;
}

h3 {
  text-align: center;
  margin-top: 20px;
  color: #888;
  font-size: 0.9em;
}

.datetime{
  font-size: 13px;
}

.chat-placeholder {
  color: rgba(255, 255, 255, 0.7);
  background-color: #72787e;
  filter: blur(3px); 
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
}

.userfield{
  display: flex;
  justify-content: space-between;
}
.username{
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #ccc;
  margin-right: 5px;
}